<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexter | Get luxury house</title>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
</head>
<body class="detail">
    <div class="sidebar">
        <a href="#" class="sidebar__all">Get all homes</a>
        <div class="sidebar__login">
            <a href="signup.html" class="btn__log">Sign Up</a>
            <a href="login.html" class="btn__log">Log In</a>
        </div>
    </div>
    <header class="detail__header text_align--center">
        <h1 class="heading-1">The House of Your Dreams</h1>
        <div class="detail__infos">
            <svg class="detail__icon">
                <use xlink:href="img/sprite.svg#icon-global"></use>
            </svg>
            <p class="detail__text">Disponible</p>
            <svg class="detail__icon">
                <use xlink:href="img/sprite.svg#icon-map-pin"></use>
            </svg>
            <p class="detail__text">LAS VEGAS, USA</p>
        </div>
    </header>
    
    <div class="detail__visit">
        <div class="detail__facts">
            <h2 class="detail__title text__align--start heading-3--lg heading-3">QUICK FACTS</h2>
            <span class="detail__fact">
                <svg class="detail__icon">
                    <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>
                    <span>NEXT VISIT</span>
                    August 2021
                </p>
            </span>
            <span class="detail__fact">
                <svg class="detail__icon">
                    <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>
                    <span>PRICE</span>
                    $1.000.000
                </p>
            </span>
            <span class="detail__fact">
                <svg class="detail__icon">
                    <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>
                    <span>RATING</span>
                    4.7 / 5
                </p>
            </span>
            <span class="detail__fact">
                <svg class="detail__icon">
                    <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>
                    <span>STATUT</span>
                    full
                </p>
            </span>
        </div>

        <div class="detail__guides">
            <h2 class="detail__title text__align--start heading-3--lg heading-3">YOUR VISIT GUIDES</h2>
            <span class="detail__guide">
                <svg class="detail__icon">
                    <use xlink:href="img/sprite.svg#icon-key"></use>
                </svg>
                <p>
                    <span>GUIDE</span>
                    Arava Lynn
                </p>
            </span>
            <span class="detail__guide">
                <svg class="detail__icon">
                    <use xlink:href="img/sprite.svg#icon-key"></use>
                </svg>
                <p>
                    <span>GUIDE</span>
                    Kate Morisson
                </p>
            </span>
        </div>
    </div>

    <div class="detail__description">
        <h2 class="heading-3 heading-3--lg">ABOUT "HOUSE NAME"</h2>
        <p class="detail__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At debitis in reiciendis molestiae assumenda, omnis qui quidem libero ut sit aliquid nesciunt voluptate aut. Quo perspiciatis saepe maxime facilis pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est quia non voluptatem eaque ab. Corporis fugit, perspiciatis aut eius voluptate ea placeat, optio exercitationem reiciendis dicta a error minima sequi?</p>
        <p class="detail__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt sit blanditiis, similique autem quis odit, nostrum ex veritatis aliquam dignissimos sint fugit et iste hic ipsum vero tenetur unde ullam?</p>
    </div>
    

    <section class="detail__pictures">
        <figure class="detail__item">
            <img class="detail__img" src="img/house-1.jpeg" alt="luxury house">
        </figure>
        <figure class="detail__item">
            <img class="detail__img" src="img/house-2.jpeg"" alt="luxury house">
        </figure>
        <figure class="detail__item">
            <img class="detail__img" src="img/house-3.jpeg"" alt="luxury house">
        </figure>
    </section>

    <!-- <section id="map">
        <img src="#" alt="map">
    </section> -->

    <section class="detail__reviews">
        <article class="detail__review">
            <img class="detail__profil" src="img/John-Doe.jpg" alt="user profile">
            <div>
                <h3 class="heading-3 heading-3--big">AYLA CORNELL</h3>
                <p class="detail__text review__testimonial">&ldquo; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ipsam rerum nisi quas nostrum voluptatum dolore culpa dolor aut similique saepe ipsa corporis itaque aliquid id veritatis, aperiam eius odit. &rdquo;</p>
            </div>
        </article>
    </section>
    <footer class="footer">
        <ul class="nav">
                <li class="nav__item"><a href="#" class="nav__link">Find your dream home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Request proposal</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Download home planner</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Submit your property</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Come work with us!</a></li>
        </ul>
        <p class="copyright">
            &copy; Copyright 2017 by Jonas Schmedtmann. Feel free to use this project for your own purposes. This does NOT apply if you plan to produce your own course or tutorials based on this project.
        </p>
    </footer>
</body>
</html>