<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexter | Homes</title>


    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
</head>
<body class="home__container">
    <div class="sidebar">
        <a href="index.html" class="sidebar__all">Home</a href="#">
        <div class="sidebar__login">
            <a href="signup.html" class="btn__log">Sign Up</a>
            <a href="login.html" class="btn__log">Log In</a>
        </div>
    </div>
    <section class="homes">
        <h2 class="heading-2 homes__head">Found your own luxury home!</h2>
        <div class="home">
            <img src="img/house-1.jpeg" alt="House 1" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Beautiful Familiy House</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-expand"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,200,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        
        <div class="home">
            <img src="img/house-2.jpeg" alt="House 2" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Modern Glass Villa</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>Canada</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>6 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-expand"></use>
                </svg>
                <p>450 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-key"></use>
                </svg>
                <p>$2,750,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        <div class="home">
            <img src="img/house-3.jpeg" alt="House 3" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Cozy Country House</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>UK</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>4 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-expand"></use>
                </svg>
                <p>250 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-key"></use>
                </svg>
                <p>$850,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        <div class="home">
            <img src="img/house-4.jpeg" alt="House 4" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Large Rustical Villa</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>Portugal</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>6 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-expand"></use>
                </svg>
                <p>480 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-key"></use>
                </svg>
                <p>$1,950,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        <div class="home">
            <img src="img/house-5.jpeg" alt="House 5" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Majestic Palace House</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>Germany</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>18 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-expand"></use>
                </svg>
                <p>4230 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-key"></use>
                </svg>
                <p>$9,500,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        <div class="home">
            <img src="img/house-6.jpeg" alt="House 6" class="home__img">
            <svg class="home__like">
                <use xlink:href="img/sprite.svg#icon-heart-full"></use>
            </svg>
            <h5 class="home__name">Modern Familiy Apartment</h5>
            <div class="home__location">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-map-pin"></use>
                </svg>
                <p>Italy</p>
            </div>
            <div class="home__rooms">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-profile-male"></use>
                </svg>
                <p>3 rooms</p>
            </div>
            <div class="home__area">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-expand"></use>
                </svg>
                <p>180 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-key"></use>
                </svg>
                <p>$600,000</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>
    </section>
    <footer class="footer">
        <ul class="nav">
                <li class="nav__item"><a href="#" class="nav__link">Find your dream home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Request proposal</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Download home planner</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Submit your property</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Come work with us!</a></li>
        </ul>
        <p class="copyright">
            &copy; Copyright 2017 by Jonas Schmedtmann. Feel free to use this project for your own purposes. This does NOT apply if you plan to produce your own course or tutorials based on this project.
        </p>
    </footer>
</body>
</html>