<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <title>Nexter | Log In</title>
</head>
<body class="login__container">
    <div class="sidebar">
        <a href="index.html" class="sidebar__all">Home</a href="#">
        <div class="sidebar__login">
            <a href="signup.html" class="btn__log">Sign Up</a>
            <a href="login.html" class="btn__log">Log In</a>
        </div>
    </div>
    <div class="login">  
        <form class="login__form" action="">
            <h2 class="login__head heading-3 heading-3--blue">LOG IN TO YOUR ACCOUNT</h2>
            <div class="login__infos">
                <label for="email">Your email</label>
                <input class="login__input" placeholder="John-Doe@gmail.com" name="email" type="email">
            </div>
            <div class="login__infos">
                <label for="password">Your password</label>
                <input class="login__input" name="password" placeholder="********" type="password">
            </div>
            <button class="btn login_btn">Log In</button>
        </form>
    </div>
    <footer class="footer">
        <ul class="nav">
                <li class="nav__item"><a href="#" class="nav__link">Find your dream home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Request proposal</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Download home planner</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Submit your property</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Come work with us!</a></li>
        </ul>
        <p class="copyright">
            &copy; Copyright 2017 by Jonas Schmedtmann. Feel free to use this project for your own purposes. This does NOT apply if you plan to produce your own course or tutorials based on this project.
        </p>
    </footer>
</body>
</html>